{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": [
                    "./src"
                ],
                "extensions": [
                    ".js",
                    ".tsx"
                ],
                "alias": {
                    "_assets": "./src/assets",
                    "_components": "./src/components",
                    "_constants": "./src/constants",
                    "_navigations": "./src/navigation",
                    "_screens": "./src/screens",
                    "_services": "./src/services",
                    "_styles": "./src/styles",
                    "_utils": "./src/utils"
                }
            }
        ]
    ]
}